@import './colors.module.scss';
.content_card{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_card_producto{
    all: unset;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.div_card_producto_img_principal{
    width: 100%;
    height: 35vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.img_principal{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    position: absolute;
    z-index: 2;
}
.div_favorito{
    margin-top: 10px;
    margin-right: 10px;
    position: absolute; 
    z-index: 3;
    color: $color_18;
}
.div_card_producto_imgs_carrusel{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.div_card_producto_nombre{
    width: 100%;
    height: 7vh;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $color_19;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_card_producto_precio{
    width: 100%;
    height: 7vh;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: $color_20;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_card_producto_imgs_carrusel_peque{
    width: 33%;
    height: 12vh;
    position: relative;
    overflow: hidden;
}
.imgs_carrusel_peque{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}
.button_link{
    all: unset;
    cursor: pointer;
}


@media (max-width: 750px) {
    .content_card{
        width: 100%;
    }
    
}