@import './colors.module.scss';

// content headers
.content_headers{
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_headers{
    width: 90%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content_indicador_ruta{
    width: 25%;
    background-color: green;
    display: flex;
    flex-direction: column;
}
    .div_indicador_ruta{
        width: 100%;
        height: 8vh;
        background-color:aqua ;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .div_indicador_ruta_titulo{
        width: 100%;
        height: 8vh;
        background-color: antiquewhite;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
.content_ordenar_por{
    width: 25%;
    background-color: orange;
    display: flex;
    flex-direction: column;
}
    .div_ordenar_por{
        width: 100%;
        height: 8vh;
        background-color:cadetblue;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .div_ordenar_por_opcion{
        width: 100%;
        height: 8vh;
        background-color:coral;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

.content_filtrar_movil{
    width: 25%;
    display: flex;
    flex-direction: column;
}
    .div_filtrar_por{
        width: 100%;
        height: 8vh;
        background-color:cyan;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        display: none;
    }
    .div_filtrar_por_contenido{
        width: 100%;
        height: 8vh;
        background-color:darkseagreen;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        display: none;
    }

.content_articulos_pagina{
    width: 25%;
    
}
    .div_articulos_pagina{
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .div_articulos_pagina_2{
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
// content headers

// Content body categoria
.content_body_categoria{
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_body_categoria{
    width: 90%;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.content_filtrar_en_escritorio{
    width: 25%;
}
.content_cards_productos{
    width: 75%;
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

// Content body categoria

@media (max-width:750px) {
    .div_headers{
        flex-direction: column;
    }
    .content_indicador_ruta{
        width: 100%;
    }
    .div_indicador_ruta_titulo{
        display: none;
    }
    .content_ordenar_por{
        width: 100%;
    }
    .div_ordenar_por_opcion{
        display: none;
    }
    .content_filtrar_movil{
        width: 100%;
    }
    .div_filtrar_por{
        display: flex;
    }
    .div_filtrar_por_contenido{
        display: none;
    }
    .content_articulos_pagina{
        width: 100%;
    }
    .div_articulos_pagina{
        justify-content: center;
    }
    .div_articulos_pagina_2{
        display: none;
    }
    .content_filtrar_en_escritorio{
        display: none;
    }
    .content_cards_productos{
        width: 100%;
    }
}