$colorFirst: #142635;
$colorSecond: #36514E;
$colorThird: #94A88E;
$colorFour: #C0D0C8;
$colorFive: #FAF5E0;    
$colorSix: #E5E7EB;
$colorSeven: #f2f2f2;
$colorFooterOne: #eff2f6;
$colorFooterTwo: #dfe4ec;
$colorBlack: #000000;
$colorWhite: #FFFFFF;

:export {
    colorFirst: $colorFirst;
    colorSecond: $colorSecond;
    colorThird: $colorThird;
    colorFour: $colorFour;
    colorFive: $colorFive;
    colorSix: $colorSix;
    colorSeven: $colorSeven;
    colorFooterOne: $colorFooterOne;
    colorFooterTwo: $colorFooterTwo;
    colorBlack: $colorBlack;
    colorWhite: $colorWhite;
}