$color_1: #7a4a58;
$color_2: #c8c6cb;
$color_3: #666666;
$color_4: #845865;
$color_5: #9c9fa0;
$color_6: #5b5b5b;
$color_7: #a3a6a8;
$color_8: #918381;
$color_9: #fde7e1;
$color_10: #585559;
$color_11: #675553;
$color_12: #dfe3e6;
$color_13: #e7e6e2;
$color_14: #555454;
$color_15: #343434;
$color_white: #ffffff;
$color_black: #000000;

:export {
    color_1: $color_1;
    color_2: $color_2;
    color_3: $color_3;
    color_4: $color_4;
    color_5: $color_5;
    color_6: $color_6;
    color_7: $color_7;
    color_8: $color_8;
    color_9: $color_9;
    color_10: $color_10;
    color_11: $color_11;
    color_12: $color_12;
    color_13: $color_13;
    color_14: $color_14;
    color_15: $color_15;
    color_white: $color_white;
    color_black: $color_black;
}