$color_1: #7a4a58;
$color_2: #c8c6cb;
$color_3: #666666;
$color_4: #845865;
$color_5: #9c9fa0;
$color_6: #5b5b5b;
$color_7: #a3a6a8;
$color_white: #ffffff;
$color_black: #000000;

:export {
    color_1: $color_1;
    color_2: $color_2;
    color_3: $color_3;
    color_4: $color_4;
    color_5: $color_5;
    color_6: $color_6;
    color_7: $color_7;
    color_white: $color_white;
    color_black: $color_black;
}