@import './colors.module.scss';

// content indicador ruta
.content_indicador_ruta{
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_indicador_ruta{
    width: 90%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $color_17;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 550;
    font-size: 14px;
    opacity: 0.8;
}

// content indicador ruta

// content fotos talla
.content_fotos_talla{
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_fotos_talla_columns{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content_fotos{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_fotos_principal{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid $color_5;
}
.div_fotos_principal_img{
    width: 80%;
    height: 90%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_principal{
    width: 80%; 
    height: 100%;
    object-fit: cover; 
    position: absolute;
    z-index: 2;
}
.div_fotos_imgs_adicionales{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.div_fotos_imgs{
    width: 17%;
    height: 80%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_talla{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_talla{
    width: 80%;
    height: 80vh;
}
.detalle_nombre{
    width: 100%;
    font-weight: 900;
    font-size: 38px;
    color: $color_26;
}
.detalle_precio{
    width: 100%;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: $color_27;
}
.detalle_codigo{
    width: 100%;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color_28;
}
.detalle_color{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.detalle_color_titulo{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $color_26;
}
.detalle_color_img{
    border: 1.6px solid rgba(163, 166, 168, 0.8);
}

.detalle_color_img{
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_color{
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    position: absolute;
    z-index: 2;
}
.detalle_talla{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $color_26;
}
.detalle_guia_talla{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: $color_26;
    text-decoration: underline;
}
.detalle_carrito{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.div_detalle_carrito_anadir{
    width: 60%;
    height: 8vh;
}
.detalle_carrito_anadir{
    all: unset;
    cursor: pointer;
    width: 100%;
    height: 8vh;
    background-color: $color_1;
    color: $color_white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.detalle_carrito_favorito{
    width: 40%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_18;
}
.detalle_carrito_favorito:hover{
    color: $color_29;
    cursor: pointer;
}
.detalle_talla_opciones{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.detalle_talla_opcion_1{
    width: 60%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.detalle_talla_opcion_2{
    width: 60%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.div_tallas{
    width: 17%;
    height: 85%;
    background-color: $color_24;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $color_29;
}
.div_tallas:hover{
    opacity: 0.6;
    cursor: pointer; 
}
// content fotos talla

// content detalles producto
.content_detalles_producto{
    width: 100%;
    height: 30vh;
    background-color: blue;
}
// content detalles producto

// content tecnologias
.content_tecnologias{
    width: 100%;
    height: 30vh;
    background-color: green;
}
// content tecnologias 

// content completa look
.content_completa_look{
    width: 100%;
    height: 40vh;
    background-color: orange;
}
// content completa look

// content productos recomendados
.content_productos_recomendados{
    width: 100%;
    height: 40vh;
    background-color: gray;
}
// content productos recomendados


@media (max-width: 750px) {
    .content_fotos_talla_columns{
        flex-direction: column;
    }
    .content_fotos{
        width: 100%;
        height: 50vh;
    }
    .content_talla{
        width: 100%;
        height: 80vh;
    }
    .img_principal{
        width: 100%;
    }
    .div_talla{
        width: 100%;
    }
    .detalle_talla_opcion_1{
        width: 100%;
    }
    .detalle_talla_opcion_2{
        width: 100%;
    }
}