@import './colors.module.scss';

// content indicador ruta
.content_indicador_ruta{
    width: 100%;
    height: 7vh;
    background-color: yellow;
}

// content indicador ruta

// content fotos talla
.content_fotos_talla{
    width: 100%;
    height: 70vh;
    background-color: red;
}
// content fotos talla

// content detalles producto
.content_detalles_producto{
    width: 100%;
    height: 30vh;
    background-color: blue;
}
// content detalles producto

// content tecnologias
.content_tecnologias{
    width: 100%;
    height: 30vh;
    background-color: green;
}
// content tecnologias 

// content completa look
.content_completa_look{
    width: 100%;
    height: 40vh;
    background-color: orange;
}
// content completa look

// content productos recomendados
.content_productos_recomendados{
    width: 100%;
    height: 40vh;
    background-color: gray;
}
// content productos recomendados
