@import './colors.module.scss';

// Footer Redes
.Content_footer_redes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color_13;
    color: $color_14;
}
.div_fp_pagina_instagram{
    margin-top: 20px;
    margin-bottom: 5px; 
    font-size: 30px;
    font-weight: 500;
}
.div_fp_divisor{
    width: 100px;
    height: 1.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;
}
.div_fp_redes_icons{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 20px;
}
// Footer Redes
// Footer Menú
.content_footer_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1.6px solid rgba(163, 166, 168, 0.5);
}
.div_footer_column{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.div_footer_column_title{
    width: 80%;
    margin-top: 20PX;
    margin-bottom: 20PX;
    font-weight: 600;
    font-size: 16px;
    color: $color_16;
}
.div_footer_column_links{
    width: 80%;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: $color_17;
}
.div_footer_column_links_item{
    margin-top: 5PX;
    margin-bottom: 5PX;
}
.div_buscador_envio{
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_buscador{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.div_input_icon_buscar{
    width: 100%;
    height: 4.5vh;
    display: flex;
    flex-direction: row;
    border: 2px solid $color_5;
}
.input_buscar{
    width: 80%;
    height: 4.5vh;
    border: none;
    background-color: transparent;
}
.div_buscador_icon{
    width: 20%;
    height: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_black;
}
.content_footer_pays{
    width: 100%;
    height: 20vh;
    background-image: url('/img/35.jpg');
    background-size:cover;
    background-position: center;
}
.buttons {
    all: unset;
}
.button_link{
    all: unset;
    cursor: pointer;
}
// Footer Menú
@media (max-width:750px) {
    .div_footer_column{
        width: 100%;
    }
    .div_footer_column_title{
        margin-top: 10PX;
        margin-bottom: 10PX;
    }
    .div_footer_column_links{
        margin-top: 10PX;
        margin-bottom: 10PX;
    }
    .content_footer_pays{
        height: 7vh;
    }
}


