@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('/fonts/glyphicons-halflings-regular.woff') format('woff');
}
  


* {
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
    padding: 0;
}
