@import './colors.module.scss';
// Banner 1
.content_banner_1{
    width: 100%;
    height: 70vh;
    background-color: $color_9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_banner_1{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/img/22.JPG');
    background-size:cover;
    background-position: center;
}
.div_banner_1_divisor_1{
    width: 50%;
    height: 70vh;
}
.div_banner_1_divisor_2{
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.div_button_shop_now{
    background-color: $color_white;
    color: $color_8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0.3px 0.5px 0.7px hsla(18, 10%, 51%, 0.3),
            1.1px 2.1px 3px -0.6px hsla(18, 10%, 51%, 0.3),
            2.5px 5px 7px -1.1px hsla(18, 10%, 51%, 0.3),
            5.8px 11.6px 16.1px -1.7px hsla(18, 10%, 51%, 0.3);
}
.div_button_shop_now:hover{
    cursor: pointer;
    box-shadow: 0.3px 0.5px 0.7px hsla(18, 10%, 51%, 0.55),
            1.1px 2.1px 3px -0.6px hsla(18, 10%, 51%, 0.55),
            2.5px 5px 7px -1.1px hsla(18, 10%, 51%, 0.55),
            5.8px 11.6px 16.1px -1.7px hsla(18, 10%, 51%, 0.55);
}
// Banner 1
// Category 1
.content_category_1{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_category_1_divs_1_2{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.div_category_1_divs_1{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_category_1_divs_1_img{
    width: 90%;
    height: 90%;
    background-image: url('/img/23.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.div_category_1_divs_1_img_2{
    width: 90%;
    height: 90%;
    background-image: url('/img/24.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.div_button_category_1_divs_1{
    background-color: $color_10;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $color_white;
    margin-bottom: 20px;
}
.div_button_category_1_divs_1:hover{
    cursor: pointer;
    box-shadow: 0.3px 0.5px 0.7px hsla(18, 10%, 51%, 0.3),
            1.1px 2.1px 3px -0.6px hsla(18, 10%, 51%, 0.3),
            2.5px 5px 7px -1.1px hsla(18, 10%, 51%, 0.3),
            5.8px 11.6px 16.1px -1.7px hsla(18, 10%, 51%, 0.3);
}
// Category 1
// Banner 2
.content_banner_2{
    width: 100%;
    height: 65vh;
    background-color: $color_9;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div_banner_2{
    width: 85%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img/25.jpg');
    background-size:cover;
    background-position: center;
}
.div_button_banner_2{
    width: 70px;
    height: 70px;
    background-color: $color_11;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.div_button_banner_2:hover{
    cursor: pointer;
    box-shadow: 0.3px 0.5px 0.7px hsla(18, 10%, 51%, 0.3),
            1.1px 2.1px 3px -0.6px hsla(18, 10%, 51%, 0.3),
            2.5px 5px 7px -1.1px hsla(18, 10%, 51%, 0.3),
            5.8px 11.6px 16.1px -1.7px hsla(18, 10%, 51%, 0.3);
}
.div_triangle_play{
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent; 
    border-left: 20px solid $color_12;
    margin-left: 25px;
}
// Banner 2
// Category 2
.content_category_2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_content_category_2{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.div_content_category_2_divs{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.div_content_category_2_divs_internos_1{
    width: 90%;
    height: 90%;
    background-image: url('/img/26.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.div_content_category_2_divs_internos_2{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.div_content_category_2_divs_mujer{
    width: 100%;
    height: 50%;
    background-image: url('/img/27.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.div_content_category_2_divs_hombre{
    width: 100%;
    height: 50%;
    background-image: url('/img/28.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.div_buttons_category_2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    background-color: $color_white;
    opacity: 0.8;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: $color_6;
}
.div_buttons_category_2:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 0.3px 0.5px 0.7px hsla(18, 10%, 51%, 0.3),
            1.1px 2.1px 3px -0.6px hsla(18, 10%, 51%, 0.3),
            2.5px 5px 7px -1.1px hsla(18, 10%, 51%, 0.3),
            5.8px 11.6px 16.1px -1.7px hsla(18, 10%, 51%, 0.3);
}
// Category 2
// Banner Instagram
.content_banner_instagram{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_banner_instagram_titulo{
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $color_15;
    font-weight: 500;
    font-size: 20px;
}
.div_banner_instagram{
    width: 80%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.div_banner_instagram_div_1{
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.div_banner_instagram_div_2{
    width: 50%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.div_banner_instagram_img_1{
    width: 30%;
    height: 90%;
    background-image: url('/img/29.JPG');
    background-size:cover;
    background-position: center;
}
.div_banner_instagram_img_2{
    width: 30%;
    height: 90%;
    background-image: url('/img/30.JPG');
    background-size:cover;
    background-position: center;
}
.div_banner_instagram_img_3{
    width: 30%;
    height: 90%;
    background-image: url('/img/31.JPG');
    background-size:cover;
    background-position: center;
}
.div_banner_instagram_img_4{
    width: 30%;
    height: 90%;
    background-image: url('/img/32.JPG');
    background-size:cover;
    background-position: center;
}
.div_banner_instagram_img_5{
    width: 30%;
    height: 90%;
    background-image: url('/img/33.JPG');
    background-size:cover;
    background-position: center;
}
.div_banner_instagram_img_6{
    width: 30%;
    height: 90%;
    background-image: url('/img/34.JPG');
    background-size:cover;
    background-position: center;
}
// Banner Instagram

.buttons {
    all: unset;
}
.button_link{
    all: unset;
    cursor: pointer;
}



@media (max-width:750px) {
// Banner 1
    .content_banner_1{
        height: 22vh;
    }
    .div_banner_1{
        width: 100%;
        height: 20vh;
    }
    .div_banner_1_divisor_1{
        height: 20vh;
    }
    .div_banner_1_divisor_2{
        height: 20vh;
       
    }
    .div_button_shop_now{
        margin-bottom: 10px;
    }
// Banner 1
// Category 1
    .content_category_1{

        height: 30vh;
    }
    .div_category_1_divs_1_2{
        width: 98%;
        height: 30vh;
    }
    .div_category_1_divs_1{
        height: 30vh;
    }
// Category 1
// Banner 2
    .content_banner_2{
        height: 18vh;
    }
    .div_banner_2{
        width: 90%;
        height: 18vh;
    }
    .div_button_banner_2{
        width: 40px;
        height: 40px;
    }
    .div_triangle_play{
        width: 0;
        height: 0;
        border-bottom: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent; 
        border-left: 10px solid $color_12;
        margin-left: 15px;
    }
// Banner 2
// Category2
    .content_category_2{
        height: 27vh;
    }
    .div_content_category_2{
        width: 90%;
        height: 27vh;
    }
    .div_content_category_2_divs{
        height: 27vh;
    }
    .div_buttons_category_2{
        font-weight: 550;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 5px;
    }
// Category 2
//  Banner Instagram
    .div_banner_instagram_titulo{
        width: 90%;
    }
    .content_banner_instagram{
        height: 60vh;
    }
    .div_banner_instagram{
        height: 50vh;
    }
    .div_banner_instagram{
        width: 90%;
        flex-direction: column;
    }
    .div_banner_instagram_div_1{
        width: 100%;
    }
    .div_banner_instagram_div_2{
        width: 100%;
    }
//  Banner Instagram
        
}
