@import './colors.module.scss';
// Banner 1
.content_banner_1{
    width: 100%;
    height: 70vh;
    background-color: $color_9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_banner_1{
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('/img/22.JPG');
    background-size:cover;
    background-position: center;
}
.div_banner_1_divisor_1{
    width: 50%;
    height: 70vh;
}
.div_banner_1_divisor_2{
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.div_button_shop_now{
    background-color: $color_white;
    color: $color_8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0.3px 0.5px 0.7px hsla(18, 10%, 51%, 0.3),
            1.1px 2.1px 3px -0.6px hsla(18, 10%, 51%, 0.3),
            2.5px 5px 7px -1.1px hsla(18, 10%, 51%, 0.3),
            5.8px 11.6px 16.1px -1.7px hsla(18, 10%, 51%, 0.3);
}
.div_button_shop_now:hover{
    cursor: pointer;
    font-weight: 800;
    font-size: 14px;
    box-shadow: 0.3px 0.5px 0.7px hsla(18, 10%, 51%, 0.55),
            1.1px 2.1px 3px -0.6px hsla(18, 10%, 51%, 0.55),
            2.5px 5px 7px -1.1px hsla(18, 10%, 51%, 0.55),
            5.8px 11.6px 16.1px -1.7px hsla(18, 10%, 51%, 0.55);
}
// Banner 1
// Category 1
.content_category_1{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_category_1_divs_1_2{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.div_category_1_divs_1{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_category_1_divs_1_img{
    width: 90%;
    height: 90%;
    background-image: url('/img/23.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.div_category_1_divs_1_img_2{
    width: 90%;
    height: 90%;
    background-image: url('/img/24.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.div_button_category_1_divs_1{
    background-color: $color_10;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $color_white;
    margin-bottom: 20px;
}
.div_button_category_1_divs_1:hover{
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0.3px 0.5px 0.7px hsla(18, 10%, 51%, 0.3),
            1.1px 2.1px 3px -0.6px hsla(18, 10%, 51%, 0.3),
            2.5px 5px 7px -1.1px hsla(18, 10%, 51%, 0.3),
            5.8px 11.6px 16.1px -1.7px hsla(18, 10%, 51%, 0.3);
}
// Category 1

@media (max-width:750px) {
    // Banner 1
        .content_banner_1{
            height: 30vh;
        }
        .div_banner_1{
            width: 100%;
            height: 20vh;
        }
        .div_banner_1_divisor_1{
            height: 30vh;
        }
        .div_banner_1_divisor_2{
            height: 30vh;
        }
    // Banner 1
    // Category 1
    .content_category_1{

        height: 30vh;
    }
    .div_category_1_divs_1_2{
        width: 98%;
        height: 30vh;
    }
    .div_category_1_divs_1{
        height: 30vh;
    }
    // Category 1
        
}
