@import './colors.module.scss';


.header_content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.div_promo{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color_1;
    color: $color_white;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.content_menu_micuenta{
    width: 100%;
    height: 4vh;
    background-color: $color_2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_menu_micuenta{
    width: 90%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: $color_3;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 550;
    font-size: 12px;
}
.content_logo_buscador_envio{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color_white;
}
.div_logo_buscador_envio{
    width: 90%;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.div_logo_tipo{
    width: 30%;
    height: 12vh;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_logotipo{
    width: 300px;
    height: 80px;
}
.div_buscador_envio{
    width: 70%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_buscador{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.div_input_icon_buscar{
    width: 29%;
    height: 4.5vh;
    display: flex;
    flex-direction: row;
    border: 2px solid $color_5;
}
.input_buscar{
    width: 80%;
    height: 4.5vh;
    border: none;
    background-color: transparent;
}
.div_buscador_icon{
    width: 20%;
    height: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_black;
}
.div_car_movil{
    display: none;
}
.div_envio{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'glyphicons-halflings-regular', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $color_4;
}
.content_menu{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1.6px solid $color_7;
}
.div_menu_carrito{
    width: 90%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    font-weight: 540;
    color: $color_6;
}
.div_menu{
    width: 40%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.div_carrito{
    width: 60%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.efecto_menu_1:hover{
    background-color: $color_3;
    opacity: 0.5;
    color: $color_white;
}
.efecto_menu_2:hover{
    background-color: $color_9;
}
.button_link{
    all: unset;
    cursor: pointer;
}

@media (max-width:750px) {
    .div_menu_micuenta{
        font-size: 10px;
        justify-content: center;
    }
    .content_logo_buscador_envio{
        height: 20vh;
    }
    .div_logo_buscador_envio{
        flex-direction: column;
        height: 20vh;
    }
    .div_logo_tipo{
        width: 100%;
        height: 10vh;
    }
    .img_logotipo{
        width: 250px;
        height: 8vh;
    }
    .div_buscador_envio{
        width: 100%;
        flex-direction: column;
    }
    .div_buscador{
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .div_input_icon_buscar{
        width: 50%;
    }
    .div_car_movil{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;        
        justify-content: flex-end;
        font-weight: 550;
        color: $color_6;
    }
    .div_envio{
        font-size: 12px;
        height: 4vh;
    }
    .div_carrito{
        display: none;
    }
    .div_menu{
        width: 100%;
        font-weight: 600;
        font-size: 14px;
    }
}